<div class="d-flex flex-column align-items-center">
  <h1 class="text-center m-4">FORMULARIO DE LOGIN</h1>

  <div
    class="col-6 border border-success p-4 m-4 d-flex flex-column text-center"
  >
    <form class="row g-3" action="" id="formLogin">

      <div class="col-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="input_email" required />
      </div>
      <div class="col-6">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="input_password"
          required
        />
      </div>
      <div class="col-12">        
        <a href="/register">
          <p>No estas registrado?</p>
        </a>
        <a href="/api/users/emailpassword">
          <p>Recuperar contraseña</p>
        </a>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>

    </form>

    <div>
      <a href="/api/sessions/github">
        <button class="btn btn-secondary" type="submit">Login Github</button>
      </a>
    </div>

  </div>
  <div>

  </div class="col-6 border border-success p-4 m-4 d-flex flex-column text-center">
    <h1>Curso backend - FullStack CoderHouse Comision 39710</h1>
</div>

<script src="/static/js/login.js"></script>